.user-info {
  width: 95%;
  margin: 55px auto 15px;
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }

  h4 {
    font-size: 1.8rem;
    font-family: sans-serif;
  }
}

.post-image {
  width: 100%;
  height: auto;
}

.input-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  border-top: 1px solid lightgray;

  input {
    width: 75%;
    padding: 12px;

    border: none;
    outline: none;
    font-size: 1.6rem;

    &::placeholder {
      opacity: 0.5;
    }
  }

  i {
    font-size: 1.6rem;
  }
}
